<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Product</strong></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 order-2">
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="float-md-left mb-4"><h2 class="text-black h5">Product All</h2></div>
          <div class="d-flex">
            <div class="dropdown mr-1 ml-md-auto">
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                {% for d in Cat %}
                <a class="dropdown-item" href="{% url 'product' cat_name=d.Categoryname %}">{{d.Categoryname}}</a>
                {% endfor %}
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown" aria-expanded="false">Reference</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuReference" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                <a class="dropdown-item" href="#">Relevance</a>
                <a class="dropdown-item" href="#">Name, A to Z</a>
                <a class="dropdown-item" href="#">Name, Z to A</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Price, low to high</a>
                <a class="dropdown-item" href="#">Price, high to low</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        {% for d in pro %}
        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href="{% url 'singleproduct' pro_id=d.id %}"><img src="{{d.ProductImage.url}}" width="150px" alt="Image placeholder" class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="{% url 'singleproduct' pro_id=d.id %}">{{d.Brand}}</a></h3>
              <p class="mb-0">{{d.Des}}</p>
              <p class="text-primary font-weight-bold">Rs.{{d.Price}}/-</p>
            </div>
          </div>
        </div>
        {% endfor %}
<!--      <div class="row aos-init aos-animate" data-aos="fade-up">-->
<!--        <div class="col-md-12 text-center">-->
<!--          <div class="site-block-27">-->
<!--            <ul>-->
<!--              <li><a href="#">&lt;</a></li>-->
<!--              <li class="active"><span>1</span></li>-->
<!--              <li><a href="#">2</a></li>-->
<!--              <li><a href="#">3</a></li>-->
<!--              <li><a href="#">4</a></li>-->
<!--              <li><a href="#">5</a></li>-->
<!--              <li><a href="#">&gt;</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
</body>
</html>
{% endblock %}