<!DOCTYPE html>
{% extends 'indexpage.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h5>Product Details</h5>
<!--            <span>use class <code>table</code> inside table element</span>-->
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-trash close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Selected Category</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Product Image</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr>
                            <th scope="row">{{i.Select}}</th>
                            <td>{{i.Pname}}</td>
                            <td>{{i.Brand}}</td>
                            <td>{{i.Price}}</td>
                            <td>{{i.Des}}</td>
                            <td>
                                <img src="{{i.ProductImage.url}}" width="150px" >
                            </td>
                            <td>
                                <form action="{% url 'editproduct' proid=i.id %}">
                                    <button type="submit" class="btn btn-warning" style="border-radius:5px;">EDIT</button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'deleteproduct' proid=i.id %}">
                                    <button type="submit" class="btn btn-danger" style="border-radius:5px;">DELETE</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}